:root {}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas {
    border: 2px solid black;
    width: 1200px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form {
    width: 400px;
    margin: 1rem;
    position: relative;
    border: none;
}

#search-form input {
    padding: 0.5rem;
    width: 100%;
    outline: none;
    border-radius: 5px;
}

#search-form button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
}





.basic-info {
    width: 400px;
    height: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.basic-info>* {
    flex: 1;
    font-size: 24px;

}

.basic-info> :last-child {
    font-size: 16px;
}







.detailed-content {
    border: 2px solid black;
    border-radius: 5px;
    width: 900px;
    height: 650px;

    display: grid;
    grid-template: 45% 27.5% 27.5% / 1fr 1fr 1fr;
}

.detailed-content>div {
    border: 1px solid grey;
}

.container {
    padding: 0.4rem;
    height: 100%;
}





.forecast {
    display: grid;
    grid-template-rows: repeat(1fr, 7);
}

.forecast-days {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timelapse {
    grid-area: 1 / 2 / 2 / -1;
}


.humidity {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.humidity-ring {
    transform: rotate(-90deg);
    /* Start progress from top */
}

.background-ring,
.progress-ring {
    fill: none;
    stroke-width: 10;
}

.background-ring {
    stroke: #e0e0e0;
}

.progress-ring {
    stroke: #727171;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;
}

.humidity-value {
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.wind {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wind-ring-svg {
    transform: rotate(-90deg);
    /* progress starts from top */
}

.wind-ring-bg,
.wind-ring-progress {
    fill: none;
    stroke-width: 10;
    cx: 60;
    cy: 60;
    r: 50;
}

.wind-ring-bg {
    stroke: #e0e0e0;
}

.wind-ring-progress {
    stroke: #727171;
    transition: stroke-dashoffset 0.5s ease;
    stroke-linecap: round;
}

.wind-values {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#degrees {
    font-size: 1.2rem;
    font-weight: bold;
}

.wind-speed {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: bold;
}

.pressure {
    display: flex;
    flex-direction: column;
}

.pressure-value {
    margin-top: 40px;
    font-size: 1.8rem;
    font-weight: bold;
}

.pressure-measurement {
    font-weight: 100;
    font-size: 1.4rem;
}

.sunrise {
    grid-area: 3 / 2 / -1 / -1;
}

.headings {
    align-self: flex-start;
}